EpicTextBasedGame/bin
EpicTextBasedGame/obj
EpicTextBasedGame.sln
.vscode
EpicTextBaseGame.sln
/.vs/BerserkerIntegr/FileContentIndex
/.vs/BerserkerIntegr/v17/.wsuo
/.vs/BerserkerIntegr/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
TestEpicTextBasedGame/
TestBerserker/